.contact-form{
    // background-size: cover;
    // background-repeat:no-repeat ;
    padding-bottom: 50px;
    // background-image: url(../img/about/bg2.jpg);
    // background-attachment: fixed;
    // background-position: center;
    // box-shadow: inset 0 0 0 1000px rgb(1 31 46 / 75%);
    background:rgb(1, 1, 85);
    
    .form-wrapper{
        margin-top: -160px;
        background:#fff ;
        padding: 73px 106px 69px 122px;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        @media #{$laptop}{
            padding: 73px 106px 69px 106px;
        }
        @media #{$lg}{
            padding: 62px 26px 41px 29px;
        }
        @media #{$md}{
            padding: 62px 26px 41px 29px;
        }
        @media #{$sm}{
            padding: 45px 26px 41px 29px;
        }
        @media #{$xs}{
            padding: 45px 26px 41px 29px;
        }
       
    }
}